p {
  margin-bottom: 1.58rem;
  color: hsla(0,0%,0%,0.73);
  font-family: 'Lora',serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Varela Round',sans-serif;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Varela Round',sans-serif;
  font-weight: 400;
}

h5 {
  margin-top: 2.37rem;
  margin-bottom: 0.79rem;
  color: hsla(0, 0%, 0%, 0.9);
  font-family: 'Varela Round',sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
